* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fdc161;
    --secondary-color: #377ca7;
    --terciary-color: #59a7d7;
    --bg-color: #f0f0f0;
    --primary-text-color: #2e2e2e;
    --secondary-text-color: #f0f0f0;

    --primary-color-hover: #e2aa4f;
    --secondary-color-hover: #3a6b8a;

    --header-heigth: 70px;
}
