.card-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: auto;
    align-items: center;

    text-align: center;
}

.card {
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    max-width: 500px;
    transition: all 400ms;
}

.card:hover {
    transform: scale(1.01) translateY(-10px);
    box-shadow: var(--box-shadow-hover);
}

.card-img {
    height: 250px;

    position: relative;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #00000088;
}

.card-img-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.card-img-container img {
    min-height: 100%;
    width: 100%;
}

.card-img-content {
    font-size: 1.4rem;
    padding: 20px 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f0f0f0;
}
