.card-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: auto;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px #999;
    border-radius: 20px;

    max-width: 400px;
    max-height: 250px;
}

.card-img {
    position: relative;
    height: 50vw;
    overflow: hidden;
    border-radius: 20px;

    display: flex;
    background-color: #00000088;
}

.card-img-content {
    font-size: 1.1rem;
    padding: 20px 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f0f0f0;
}

.card-img img {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.card-more-info {
    display: none;
}
