header {
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    z-index: 1;
    height: var(--header-heigth);
}

#header-logo {
    display: flex;
    align-items: center;
}

#logo {
    height: 60px;
    border-radius: 50%;
}

#page-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: var(--primary-text-color);
    width: 50%;
}

#burger-menu {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 10px;
    height: 100%;
}

#burger-menu span {
    display: block;
    height: 10px;
    border-radius: 10px;
    background-color: var(--primary-text-color);
}

header nav {
    position: absolute;
    width: 100%;
    background-color: #333;
    color: white;
    top: 100%;
    height: 0;
    overflow-y: hidden;
    transition: all 0.25s;
}

header nav ul {
    padding: 20px 0;
}

header nav ul li {
    padding: 10px;
}

#burger-menu:hover + nav {
    height: 25vh;
}

header nav ul li a {
    color: #f0f0f0;
    text-decoration: none;
}

@media (min-width: 768px) {
    #burger-menu {
        display: none;
    }

    header nav {
        height: fit-content;
        background-color: transparent;
        position: static;
        width: fit-content;
    }

    header nav ul li {
        transition: all 400ms;
        padding: 0;
        border-radius: 10px;
        padding: 10px;
    }
    header nav ul {
        display: flex;
        padding: 0 10px;
    }

    header nav ul li a {
        color: var(--primary-text-color);
        font-weight: bold;
        font-size: 1.5rem;
        padding: 20px;
    }

    header nav ul li:hover {
        padding: 5px 15px;
        background-color: var(--primary-color-hover);
    }
}
