@import url("../styles.css");
@import url("../components/banner.css");
@import url("../components/card.css");

#services {
    margin-top: 20px;
}

#services .primary-btn {
    margin: auto;
    margin-top: 20px;
    font-size: 1.5rem;
}

#services h2 {
    text-align: center;
    font-size: 2rem;
    margin: 40px 0 20px;
}

.card-more-info {
    display: none;
}

@media (min-width: 768px) {
    .card {
        width: calc(50% - 25px);
    }

    .card-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        max-width: 1000px;
    }
}

@media (min-width: 1440px) {
    #services {
        width: 100%;
        max-width: 1800px;
    }

    .card-list {
        width: 100%;
        overflow-x: scroll;

        scroll-snap-type: x mandatory;
        box-shadow: var(--box-shadow);
        border-radius: 20px;

        flex-wrap: nowrap;
        max-width: 1440px;
    }

    .card {
        min-width: 100%;
        min-height: 600px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        border-radius: 0;

        scroll-snap-align: start;
    }

    .card:hover {
        transform: none;
    }

    .card-img {
        width: 65%;
        border-radius: 0;
        min-height: 600px;
    }

    .card-img-container img {
        max-height: 1200px;
    }

    .card-img-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: start;
        width: 100%;
        gap: 50px;
        font-size: 2rem;
    }

    .card-more-info {
        background-color: var(--terciary-color);
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 35%;
        font-size: 2rem;
        padding: 20px 10px;
    }

    .card-more-info h4 {
        margin-bottom: 20px;
    }

    .our-team-list {
        overflow-y: auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        overflow-wrap: break-word;
        gap: 20px;
    }

    .team-member {
        width: 25%;
        word-wrap: break-word;
    }

    .team-member img {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #333;
        margin: auto;
    }
}
